* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #333333;
    font-size: 20px;
}

label {
    font-size: 30px;
    text-align: center;
}

input {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 48px;
    border: 2px solid aqua;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.passinfo {
    font-size: 18px;
    color: rgb(255, 255, 255);
}



button {
    margin: 0 30px;
    padding: 10px 30px;
    background: none;
    border: 2px solid aqua;
    border-radius: 5px;
    color: aqua;
    font-size: 36px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s, box-shadow .3s;
    box-shadow: 3px 3px 10px aqua
}

button:hover {
    color: #00ffae;
    box-shadow: 3px 3px 10px #00ffae;
}
.pass-info {
    text-align: center;
}
.pass-info-color {
    font-weight: bold;
    color: aqua;
}
